.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: 36px;
}
.text-center {
  text-align: center;
}
.text-weight-bold {
  font-weight: 600;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  width: 100%;
}
.input-container {
  width: 100%;
  display: flex;
  align-items: center;
}
mat-form-field {
  width: 100%;
}
mat-select {
  width: 100px;
}
/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type="number"] {
  -moz-appearance: textfield;
}
.input-custom {
  font-size: 16px;
  font-weight: 600;
}
.input-padding {
  padding-left: 5px;
  padding-right: 5px;
}
