<div class="container">
  <mat-card>
    <mat-card-title
      ><p class="title text-center">Currency converter</p></mat-card-title
    >
    <mat-card-content>
      <p class="mat-h2 text-center text-weight-bold">
        1{{ selection[0] }} = {{ rate }}{{ selection[1] }}
      </p>
    </mat-card-content>
    <mat-form-field class="input-custom">
      <div class="input-container">
        <mat-label></mat-label>
        <input
          matInput
          class="input-padding"
          type="number"
          autocmlete="off"
          (input)="baseChange($event)"
          [value]="base"
          aria-label="none"
          aria-controls="none"
        />
        <mat-select
          [(value)]="selection[0]"
          (valueChange)="selectBaseChange($event)"
        >
          <mat-option *ngFor="let currency of symbols" [value]="currency">{{
            currency
          }}</mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <mat-form-field class="input-custom">
      <div class="input-container">
        <input
          class="input-padding"
          floatLabel="never"
          type="number"
          matInput
          autocmlete="off"
          (input)="convChange($event)"
          [value]="conv"
        />
        <mat-select
          [(value)]="selection[1]"
          (valueChange)="selectConvChange($event)"
        >
          <mat-option *ngFor="let currency of symbols" [value]="currency">{{
            currency
          }}</mat-option>
        </mat-select>
      </div>
    </mat-form-field>
  </mat-card>
</div>
